In [ ]:
continuation of implementation of iteration

In [1]:
import numpy as np

In [2]:
#2D array

students = np.array([['rafat','azmat','nuzat','munira'],[65,78,89,57],[54,89,90,67]])
students

array([['rafat', 'azmat', 'nuzat', 'munira'],
       ['65', '78', '89', '57'],
       ['54', '89', '90', '67']], dtype='<U6')

In [ ]:
Each iteration will be over the rows of the arrays:

In [13]:
for i in students:
    print('i=', i)

i= ['rafat' 'azmat' 'nuzat' 'munira']
i= ['65' '78' '89' '57']
i= ['54' '89' '90' '67']

In [ ]:
#Flattening of arrays...

In [ ]:
#req : To print all the elements out of the array separately.For this there are 2 methods as rows and  columns

In [14]:
for elements in students.flatten():    #row based operation 
    print(elements)

rafat
azmat
nuzat
munira
65
78
89
57
54
89
90
67

In [15]:
for element in students.flatten(order='F'):    #column based operation for flattening
    print(element)

rafat
65
54
azmat
78
89
nuzat
89
90
munira
57
67

In [17]:
for i in np.nditer(students):   #alternate approach .....nditer...row based operation
    print(i)

rafat
azmat
nuzat
munira
65
78
89
57
54
89
90
67